@{
    ViewData["Title"] = "Strona główna";
}

<div class="w-full p-4 flex flex-col items-center gap-3">
    <div class="relative w-full bg-black rounded-3xl h-[630px] overflow-hidden max-w-[375px] md:max-w-none">
        <img src="~/images/imageHome.png" alt="" class=" -top-[176px] md:-top-[78px] absolute">
        <img src="~/images/logo.svg" alt="logo" class="w-[600px] absolute right-6 top-6">
        @* <img src="~/images/logoDark.svg" alt="TOSKLEP" class="w-[225px] absolute right-6 top-6"> *@

    </div>
    <div class="w-full bg-[#EAEAEA] border-[#EAEAEA] border-16 flex gap-2 overflow-auto rounded-3xl">
        @for (int i = 0; i < 20; i++)
        {
            <div class="bg-white w-[180px]  md:w-[240px] h-[300px] rounded-xl p-4  shrink-0 flex flex-col gap-4 font-inter">
                <div class="w-full bg-neutral-200 h-[100px] md:h-[140px] rounded-xl flex flex-col">
                    <div class="w-full h-full flex items-center justify-center">
                        <div class="w-16 h-16">
                            <img src="~/images/icons/imageNullIcon.svg" height="64px" width="64px"
                                class="text-black w-full h-full" alt="brak zdjęcia">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2 px-1">
                    <span class="text-sm md:text-base font-extrabold italic ">00,00 PLN</span>
                    <span class="text-xs md:text-sm leading-tight font-medium">
                        Lorem ipsum dolor sit amet, consectetur
                    </span>
                </div>
            </div>

        }
    </div>
</div>